﻿@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf) format('truetype');
}
body {
    direction: rtl;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Droid Arabic Kufi', sans-serif;   
    color: #272725;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
.wrapper {
  margin-top: 80px;
  margin-bottom: 30px;
}

.form-signin {
  max-width: 480px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1em #c0c0c0;
}
.form-signin .form-signin-heading{
    display: inline-block;    
    color: #384d90;
    text-align: left;
}
.form-signin .form-signin-heading h2{
    text-align: left;
    font-size: 18px;
}
.form-signin .header{
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #384d90;    
}
.header img{
    display: inline-block;    
    width: 188px;
    margin-left: 0px;
}
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
   margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #384d90;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
}
.form-signin .form-control:focus, .form-signin .form-control:active {
  box-shadow: none;
  border: 1px solid #e38f2c;
}
.form-signin input[type='submit']{
    background-color: #384d90;
    font-size: 22px;
    transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
}
.form-signin input[type='submit']:hover, .form-signin input[type='submit']:focus, .form-signin input[type='submit']:active{
    background-color: #273f8d;
    border: 1px solid #273f8d
}
.footer-text{
    text-align: center;
    margin: 0px 0 35px 0;
}
.footer-text a {
    color: #273f8d;
    text-decoration: none;
}
.footer-text a:hover {
    text-decoration: underline;
}