﻿@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf) format('truetype');
}
html {
    direction: rtl;
    overflow-y: scroll;
}
body {
    direction: rtl;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Droid Arabic Kufi', sans-serif;   
    color: #272725;
}
.navbar-left .dropdown-menu.position-right {
    left: 0;
    position: absolute;
    right: inherit
}
.nav-justified > li, .navbar-nav > li{
    float: none;
    display: table-cell
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }    
}
@media screen and (max-width: 768px){
    .nav-justified > li, .navbar-nav > li{
        
        display: block
    }
}

@media screen and (min-width: 769px){
    dl.dl-horizontal dt, dl.dl-horizontal-sm dt {
        float: right;
        clear: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 0;
        min-width: 260px;
        padding-right: 15px;
    }
}

.navbar-default{
    background-color: #e89026;
    border: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #344E8B;
}
.navbar-default .navbar-nav>li>a {
    color: #f0f0f0;
    padding: 25px 30px;
}
.margin-bottom-7{
    margin-bottom: 7px;
}
h1{
    font-weight: 400;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;

}
/*========Footer -===============*/
footer{
    margin: 35px 0 0 0 
}
footer .container .col-md-12{
    border-top: 1px solid #c0c0c0;
    margin: 35px 0 20px 0;
    padding: 30px 0 0 0
}
.footer-text{
    text-align: right;
    margin: 0px 0 35px 0;
}
.footer-text a {
    color: #273f8d;
    text-decoration: none;
}
.footer-text a:hover {
    text-decoration: underline;
}

.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #344E8B;
  margin-bottom: 25px;
}
.file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 0px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  height: 38px;
  line-height: 40px;
  color: #999;
  font-weight: 300;
}
.file-upload-wrapper:before {
  content: 'Upload';
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 39px;
  background: #344E8B;
  color: #fff;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
}
.file-upload-wrapper:hover:before {
  background: #253F7B;
}
.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

.form-control-new {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #272725;
    background-color: #fff;
    background-image: none;
    border: 1px solid #344E8B;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 20px;
}
.form-control-new:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #999;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #999
}
.form-control-new::-moz-placeholder {
    color: #999;
    opacity: 1
}
.form-control-new:-ms-input-placeholder {
    color: #999
}
.form-control-new::-webkit-input-placeholder {
    color: #999
}
.form-control-new::-ms-expand {
    background-color: transparent;
    border: 0
}
textarea.form-control-new{
    height: auto;
}
.new-btn .btn-primary{
    background: #fff;
    border: 1px solid #344E8B;
    border-radius: 5px;
    color: #344E8B;
    min-width: 200px;
    margin-right: 15px;
    min-height: 50px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 25px;
    font-size: 18px;
}
.new-btn .btn-primary:hover{
    background: #344E8B;
    color: #fff;
}
/*=========Chart.js=============*/
#canvas-holder {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#chartjs-tooltip.below {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#chartjs-tooltip.below:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 0 8px 8px 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 8px 8px 0 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
/*===============dashboard ============*/
.ticket-container, .chart-container, .bar{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(192,192,192,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(192,192,192,1);
    box-shadow: 0px 0px 5px 1px rgba(192,192,192,1);
    -o-box-shadow: 0px 0px 5px 1px rgba(192,192,192,1);
    -ms-box-shadow: 0px 0px 5px 1px rgba(192,192,192,1);
    box-sizing: border-box;
    padding: 10px 12px;
    margin-bottom: 25px;
   
}
.bar{
    min-height: 508px;
}
.ticket-container h5{
    text-transform: uppercase
}
.ticket-container span{
    font-size: 25px;
}
.ticket-container a{
    display: block;
    color: #272725;
}
.ticket-info{
    
}
.label-closed-tickets, .label-resolved-tickets, .label-new-tickets, .label-expired-tickets{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
}
.label-closed-tickets{
    background: #449d44;
}
.label-resolved-tickets{
    background: #337ab7;
}
.label-new-tickets{
    background: #f0ad4e;
}
.label-expired-tickets{
    background: #d9534f;
}

/*=================My Tickets ==========*/
.nobg-noborder{
    background: transparent;
    border: none
}
.nobg-noborder:hover, .nobg-noborder:focus, .nobg-noborder:active{
    background: none;
    outline: none;
    border: 0;
}
th.headerButton input[type='submit']{
    padding: 5px 35px;
    margin: 0 10px;
}
.table.no-border td{
    border: 0;
    
}
.table.no-border{
    background: transparent;
}
.table-striped > tbody > tr:nth-child(2n+1) > td{
   background-color: #f1f1f1;
}
.table-striped > tr th{
    background: #555
}
.table-details{
    width: 300px;
    margin: 0;
    background-color: transparent !important;
}
.table-details > tbody > tr > td, .table-details td{
    padding: 0;

}
.form-horizontal.ticket-container, .form-horizontal.ticket-container span{
    font-size: 14px;
}
.input-group-btn .btn.btn-blue{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.btn.btn-blue{
    color: #344E8B;
    border: 1px solid #344E8B;
    border-radius: 4px;
    background: transparent;
    margin-left: 15px;/*was margin-right */
    margin-bottom: 8px;
    transition: 0.5s linear all;
    box-sizing: border-box;
    text-transform: uppercase;
}
.btn.btn-blue:hover{
     background: #344E8B;
     color: #fff
}
.approval-buttons .btn-blue, .post-comment-container .btn-blue{
    padding-left: 50px;
    padding-right: 50px;
}
.bg-grey{
    background: #c0c0c0;
    padding: 10px;
}
.bg-grey h3{
    margin-top: 10px;
}
p.image-file img{
    display: inline-block
}
.recent-post-container p.recenet-comments{
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 8px;
}
p.recenet-comments span.duration{
    font-weight: bold;
    display: block;
    color: #555;
}
p.recenet-comments strong{
    color: #344E8B;
    font-weight: 400
}
.modal-footer{
    text-align: left !important;
}
.bg-plus-grey{
    background: #c0c0c0;
    padding: 5px;
    box-sizing: border-box;
    max-width: 35px;
}
.bg-plus-grey > a > i{
    font-weight: normal !important;
}
.modal-body .text-left, .text-left-label .text-left{
    text-align: left !important;
}
tr.bg-black{
    background: #555;
    color: #f0f0f0;
}
input[type='checkbox']{
    background: #fff;
    border: 1px solid #344E8B;
    width: 15px;
    height: 15px;
    cursor: pointer;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #969696;
    cursor: default;
    border-radius: 3px;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
    
}
input[type='checkbox']:checked {
    background: #555;
    background: #B5B5B5;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
    border: 1px solid blue;
}

.new .form-control {        
    height: 46px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #272725;
    background-color: #fff;
    background-image: none;
    border: 1px solid #344E8B;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 20px;
}
.new .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #999;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #999
}
.new .btn-blue{
    background: #344E8B;
    color: #fff;
    margin-top: -12px;
}
ul.knolwdgebase{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.knolwdgebase li{
    background: url('../img/knowledge-base.png') right;/*rigt is added for arabic version only*/
    background-repeat: no-repeat;
    padding-right: 55px;/*was left*/
    min-height: 40px;
    border-bottom: 1px solid #c0c0c0;
    margin-top: 15px;
    line-height: 40px;
}
.breadcrumb>li{
    font-size: 11px;
}
/*Admin styles*/
.item-block{
    background: #fff;
    border: 1px solid #344E8B;
    border-radius: 4px;
    padding: 8px 12px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 25px;
    min-height: 80px;
    transition: all 0.5s linear;
    vertical-align: middle
}
.item-block:hover{
    background:#344E8B;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border: 1px solid #344E8B;
}
.item-block i{
    color: #344E8B;
}
.item-block:hover i{
    color: #fff;
}
.item-block a{
    color: #344E8B;
    text-decoration: none;
}
.item-block:hover a, .item-block a:hover{
    color: #fff;
    display: block;
}
.item-block span {
    position: absolute;
    top: 20px;
    right: 80px;/*Was left changed for arabic*/
    font-size: 14px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    text-align: right;
    min-width: 90px;
    word-break: break-all
}
@media screen and (min-width: 769px){
    .form-columns .form-group {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.form-group .form-group {
    margin: 0;
    padding: 0;
}
/* ============== Arabic style for col-sm ============*/
@media screen (min-width: 769px){
    .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col-sm-12 {
        float: right;
    }
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right;
    }
}
/* ============== end Arabic style for col-sm ============*/

/*======== For Tab ===================*/
.tab-content .active, .tab-content .active:hover, .tab-content .active:focus, .tab-content .active:active, 
.nav-tabs li.active, .nav-tabs li.active:hover, .nav-tabs li.active:focus, .nav-tabs li.active:active {
    color: #272725;
    background-color: transparent;
}
.tab-content h3{
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.tab-content{
    border: 1px solid #c0c0c0;
    margin-top: -1px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box
}
/*=============== End Tab ===============*/
.request-summary{
    background: #f0f0f0;
    padding: 10px 14px;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.2px;
}
.request-summary p{
    font-size: 12px;
    letter-spacing: 1.5px;
}
.request-summary strong {
    color: #344E8B;
    font-weight: 300
}
.request-summary  hr{
    color: #c0c0c0;
    border-top: 1px solid;
    margin: 0;
    margin-bottom: 5px;
}
table .label.label-danger, table .label.label-success, table .label.label-info, table .label.label-warning{
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 4px;    
}